<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
	<h3>
		<a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
			<img [src]="product.url" [style]="'width:200px'"/>
    {{product.name}}
    </a>
	</h3>
	<p>Price: {{product.price | currency}}</p>

	<p *ngIf="product.description">
		Description: {{product.description}}
	</p>

	<button [style]="'background-color:green'" (click)="share(product.name)">
    Share
  </button>

	<app-product-alerts (notify)="onNotify()" [product]="product"></app-product-alerts>
</div>